.tablediv {
    position: fixed;
    width: 50%;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    

}

.tablepic {
    border: 2px solid black;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 50px;
    
}

.checkbox-table {
    position: fixed;
    width: 50%;
    right: 0; 
    height: 100%;
    font-size: 20px;

}

.radio-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
}

.row input[type="radio"] {
    margin-right: 20px; 
}


#submit {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    width: 70%;
    margin: 0 auto; 
    display: block; 
  }
  

  